{% extends "catalog.html" %}
{% block content %}
	<div class="product_image" >
    	<img src="{{ MEDIA_URL }}images/product/main{{ p.image }}"
        alt="{{ p.name }}" />        
    </div>
    <h1>{{ p.name }}</h1>
    Brand: <em>{{ p.brand }}</em>
    <br>
	<br>
	SKU: {{ p.sku }}<br>
	In categor{{ categories.count|pluralize:"y,ies" }}:
    	{% for c in categories %}
        <a href="{{ c.get_absolute.url }}">{{ c.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
{% endblock %}
